
@{
    ViewBag.Title = "Customers";
}
@Scripts.Render("~/bundles/myBundle")
 
    <h2>Customers</h2>
<div id="displayNode">  @Html.Partial("CustomerList")</div>
<div id="createNode">  @Html.Partial("CreateCustomer")</div>

